<div id="settings_plugin_flashsailfish">
    <h4>Sailfish Firmware Updater</h4>
    <!-- firmware update url -->
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                <label for="firmwareUrl">{{ _('Firmware update URL:') }}</label>
                <input type="text" id="firmwareUrl" data-bind="value: self.settings.settings.plugins.flashsailfish.url">
                <button class="btn btn-primary" type="button" data-bind="click: refresh_firmware_xml"><i class="icon-refresh"></i></button>
            </div>
        </div>
    </div>
    <!-- Machine picker -->
    <div class="control-group">
        <div class="controls">
            <label for="boardSelect">{{ _('Select the board to upgrade:') }}</label>
            <select id="boardSelect" data-bind="options: boards, value: board"></select>
        </div>
    </div>
    <!-- Version picker -->
<div class="control-group">
    <div class="controls">
        <label for="versionSelect">{{ _('Select the firmware version:') }}</label>
        <select id="versionSelect" data-bind="options: versions, value: version"></select>
    </div>
</div>
    <!-- Display Firmware Description -->
<div class="control-group">
    <label for="firmwareDescription">{{ _('Firmware Description:') }}</label>
    <div id="firmwareDescription" data-bind="text: selectedFirmwareDescription"></div>
</div>
    <!-- Flash firmware button -->
<div class="control-group">
    <button class="btn btn-primary" data-bind="click: flash_firmware">{{ _('Flash the printer firmware') }}</button>
</div>
    <!-- Download firmware button -->
<div class="control-group">
    <button class="btn btn-primary" data-bind="click: downloadFirmware">{{ _('Download Firmware') }}</button>
</div>
   <!-- Hex file upload -->
<div class="control-group">
    <label class="control-label">{{ _('Custom firmware upload:') }}</label>
    <div class="input-prepend">
        <span class="btn fileinput-button">
            <span>{{ _('Browse...') }}</span>
            <input type="file" name="file" data-url="{{ url_for("plugin.flashsailfish.firmware_file") }}" id="fileInput">
        </span>
        <span class="add-on" data-bind="text: firmware_path"></span>
        <!-- Label to display selected filename -->
        <label id="selectedFileNameLabel" class="control-label" style="margin-top: 5px;"></label>
        <!-- Update Custom button -->
        <button class="btn btn-primary" data-bind="click: Upload_firmware">{{ _('Upload Custom Firmware') }}</button>
    </div>
</div>
<!-- Process panel -->
<div id="downloadProcessPanel" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
        <h3 class="panel-title">{{ _('Download Progress') }}</h3>
    </div>
    <div class="panel-body">
        <div class="progress">
            <div id="downloadProgressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
            </div>
        </div>
    </div>
</div>

    <!-- automatically check for updates and notify -->

</div>
