<div id="settings_plugin_flashsailfish">
    <h4>Sailfish Firmware Updater</h4>
    <!-- firmware update url -->
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                <label for="firmwareUrl">{{ _('Firmware update URL:') }}</label>
                <input type="text" id="firmwareUrl" class="input input-xxlarge" data-bind="value: settings.settings.plugins.flashsailfish.url">
                <button class="btn btn-primary" type="button" data-bind="click: refresh_firmware_xml"><i class="icon-refresh"></i></button>
            </div>
        </div>
    </div>
    <!-- Machine picker -->
    <div class="control-group">
        <div class="controls">
            <label for="boardSelect">{{ _('Select the board to upgrade:') }}</label>
            <select id="boardSelect" data-bind="options: boards, value: board"></select>
        </div>
    </div>
    <!-- Version picker -->
<div class="control-group">
    <div class="controls">
        <label for="versionSelect">{{ _('Select the firmware version:') }}</label>
        <select id="versionSelect" data-bind="options: versions, value: version"></select>
    </div>
</div>
    <!-- Display Firmware Description -->
<div class="control-group">
    <label for="firmwareDescription">{{ _('Firmware Description:') }}</label>
    <div id="firmwareDescription" data-bind="text: selectedFirmwareDescription"></div>
</div>
    <!-- Flash firmware button -->
<div class="control-group">
    <button class="btn btn-primary" data-bind="click: flash_firmware">{{ _('Flash the printer firmware') }}</button>
</div>
    <!-- Download firmware button -->
<div class="control-group">
    <button class="btn btn-primary" data-bind="click: downloadFirmware">{{ _('Download Firmware') }}</button>
</div>
    <!-- Hex file upload -->
<div class="control-group">
    <label class="control-label">{{ _('Custom firmware upload:') }}</label>
    <div class="input-prepend">
        <span class="btn fileinput-button">
            <span>{{ _('Browse...') }}</span>
            <input type="file" name="file" data-url="{{ url_for("plugin.flashsailfish.firmware_file") }}" id="fileInput">
        </span>
        <span class="add-on" data-bind="text: firmware_path"></span>
            <!-- Label to display selected filename -->
    <label id="selectedFileNameLabel" class="control-label" style="margin-top: 5px;"></label>
    </div>
</div>
    <!-- Update Custom button -->
<div class="control-group">
    <button class="btn btn-primary" data-bind="click: Upload_firmware">{{ _('Upload Custom Firmware') }}</button>
</div>

    <!-- Progress panel -->

    <!-- automatically check for updates and notify -->

</div>
